@font-face {
  font-family: china;
  src: url(./3856NeueMachina.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.section1 {
  height: 100%;
  width: 100%;
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 100px;
}
nav h1 {
  font-size: 50px;
}
nav h1 i {
  rotate: 45deg;
  display: inline-block;
  font-size: 55px;
}
nav h4 {
  font-size: 25px;
  font-weight: 600;
}
nav button {
  padding: 22px 40px;
  font-size: 22px;
  background-color: transparent;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid black;
}
#part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

#center {
  height: 70%;
  width: 100%;
  display: flex;
  padding: 60px 100px 60px 100px;
  /* padding: 70px 100px;  */
  /* padding similar to nav */
  position: relative;
}
.center-part1 {
  height: 100%;
  width: 44%;
}

.center-part1 h1 {
  /* font-size: 110px; */
  font-size: 80px;
  line-height: 1.2;
  font-family: china;
}
.center-part1 p {
  font-size: 20px;
  width: 75%;
  margin-top: 50px;
  margin-bottom: 35px;
}
.center-part1 button {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 20px 30px;
  font-size: 20px;
  font-weight: 600;
  border: none;
}
.center-part2 {
  height: 100%;
  width: 56%;
  position: relative;
}
.center-part2 img {
  position: absolute;
  right: 0;
  height: 100%;
  object-fit: cover;
}

.section1bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 120px;
}
.section1bottom img {
  height: 60px;
}

/* section 2 */
.section2 {
  height: 100%;
}
.section2 .services {
  margin-top: 30px;
  padding: 20px 120px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}
.services h3 {
  background-color: #48b760;
  font-weight: 500;
  padding: 5px 10px 3px 10px;
  border-radius: 5px;
  font-size: 60px;
  font-family: china;
}
.services p {
  width: 40%;
  font-size: 20px;
  font-weight: 500;
}

.container {
  height: 86%;
  width: 100%;
  padding: 40px 120px;
  display: flex;
  justify-content: space-between;
  /* gap: 50px; */
  flex-wrap: wrap;
}
.elem {
  /* elements will not shrink */
  display: flex;
  padding: 60px;
  flex-shrink: 0;   
  height: 330px;
  width: 49%;
  border: 3px solid black;
  border-radius: 30px;
  background-color: darkkhaki;
  box-shadow:  0px 15px 0px #48b760; /* x y blur color */
  /* margin-bottom: 20px; */
}
.elem-part1{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  
}


