* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

/* #box{
    height: 300px;
    width: 300px;
    background-color: darkcyan;
}

#box1{
    height: 300px;
    width: 300px;
    background-color: #008b61;
}

#box2{
    height: 300px;
    width: 300px;
    background-color: rgb(0, 56, 139);
}

#box3{
    height: 300px;
    width: 300px;
    background-color: rgb(69, 0, 139);
} */

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
}
#part2 {
  display: flex;
  gap: 50px;
}
h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 80px;
  white-space: nowrap;
}
